Personal Codex Agent.json
{
  "name": "Personal Codex Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        0
      ],
      "id": "3aef353a-ce7a-4507-9c19-a327d4bf415e",
      "name": "Webhook",
      "webhookId": "ad317194-8747-4fdb-a3f3-77400b63746d",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        0
      ],
      "id": "9e124eec-06b6-4175-903a-0b8ca12e580a",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        416
      ],
      "id": "8c9b2b9b-8536-4283-bdce-a0e27d46ae28",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PmlPgSChOQtH3gbc",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are Dean Jeggels' Personal AI Assistant. Answer questions about Dean in first person using the data retrieved from the Supabase database.\n\nPERSONALITY:\n- 23-year-old AI Robotics Engineer from Stellenbosch, South Africa\n- Founder of CH-ISE.co.za, Freelance AI Workflow Developer  \n- Confident, results-driven, passionate about AI automation\n- Values continuous learning, innovation, and solving real-world problems\n\nRESPONSE GUIDELINES:\n- Speak as Dean (\"I am...\", \"My experience includes...\", \"I specialize in...\")\n- Use specific examples from the database data\n- Reference concrete projects, achievements, and client work\n- Maintain Dean's authentic voice and professional personality\n\nAlways query the Supabase database to get current information about Dean before responding.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        0
      ],
      "id": "9d0ecbbd-35b8-47fd-97a0-328f3000f7d9",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.body.cv.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cv_data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        592
      ],
      "id": "5891044d-0ce7-4a39-8dda-dfee0d17a7e7",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        592
      ],
      "id": "c1d01950-31c0-4d53-9352-4109caf141ca",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.body.supporting_docs.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "supporting_data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        592
      ],
      "id": "bdf9466a-1602-4b61-af5a-58473bc860e7",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{ $('Webhook').item.json.body.cv.file_url }}",
        "convertType": "toJsonMeta",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        -96,
        512
      ],
      "id": "c0462cf5-c6fd-4565-bb43-b9495fce9554",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "bT6tnEOWmJtXSTDh",
          "name": "PDF.co account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{ $('Webhook').item.json.body.supporting_docs.file_url }}",
        "convertType": "toJsonMeta",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        -96,
        704
      ],
      "id": "66ce1f17-d18c-4f94-9d84-cd2a503fea65",
      "name": "PDFco Api1",
      "credentials": {
        "pdfcoApi": {
          "id": "bT6tnEOWmJtXSTDh",
          "name": "PDF.co account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.body }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"full_name\": \"Dean Jeggels\",\n  \"email\": \"dean.jeggs@gmail.com\", \n  \"phone\": \"+27680958203\",\n  \"location\": \"Stellenbosch, South Africa\",\n  \"age\": 23,\n  \"title\": \"AI Robotics Engineer\",\n  \"objective\": \"Drive organizational success through AI automation and technical expertise\",\n  \"education\": [\n    {\n      \"institution\": \"University of Stellenbosch\",\n      \"degree\": \"Bachelor of Electrical and Electronic Engineering\",\n      \"field_of_study\": \"Electronic Engineering\",\n      \"start_date\": \"2020\",\n      \"end_date\": \"2023\",\n      \"grade\": \"73%\",\n      \"status\": \"Completed\"\n    },\n    {\n      \"institution\": \"University of Stellenbosch\", \n      \"degree\": \"Masters of Electronic Engineering\",\n      \"field_of_study\": \"AI, Robotics, Autonomous Vehicles\",\n      \"start_date\": \"2024\",\n      \"end_date\": \"Present\",\n      \"status\": \"Ongoing\"\n    }\n  ],\n  \"work_experience\": [\n    {\n      \"job_title\": \"AI Workflow Developer\",\n      \"company\": \"Freelance (CH-ISE.co.za)\",\n      \"location\": \"Remote/Stellenbosch\",\n      \"start_date\": \"2020\",\n      \"end_date\": \"Present\",\n      \"responsibilities\": [\n        \"Built n8n pipelines for automated email replies\",\n        \"Developed web scrapers for real-estate listings\", \n        \"Created AI voice-call agents with VAPI\"\n      ]\n    },\n    {\n      \"job_title\": \"Tutoring and Learning Assistant\",\n      \"company\": \"University of Stellenbosch\",\n      \"location\": \"Stellenbosch\",\n      \"start_date\": \"2023\",\n      \"end_date\": \"2024\"\n    }\n  ],\n  \"technical_skills\": [\n    \"Programming\", \"Embedded Systems\", \"AI Automation\", \"n8n\", \"make.com\", \n    \"Python\", \"C/C++\", \"JavaScript\", \"HTML/CSS\", \"MATLAB\", \"Arduino\", \n    \"PCB Design\", \"3D Printing\", \"Solar Design\", \"Machine Learning\"\n  ],\n  \"soft_skills\": [\n    \"Leadership\", \"Problem Solving\", \"Communication\", \"Project Management\",\n    \"Creativity\", \"Adaptability\", \"Team Working\", \"Good Listener\"\n  ],\n  \"projects\": [\n    {\n      \"project_name\": \"EPS for PocketQube Nanosatellite V1\",\n      \"description\": \"Final Year Project designing electrical power system\",\n      \"technologies_used\": [\"Embedded Systems\", \"PCB Design\", \"STM32\"],\n      \"duration\": \"2023\",\n      \"grade\": \"73%\"\n    },\n    {\n      \"project_name\": \"Trajectory Planning and Collision Avoidance\",\n      \"description\": \"Masters research for Voyager Unmanned Ground Vehicle\",\n      \"technologies_used\": [\"AI\", \"Robotics\", \"ROS2\", \"Gazebo\"],\n      \"status\": \"Ongoing\"\n    }\n  ],\n  \"leadership_experience\": [\n    \"Head of E-sports team and 1st team Basketball, Chess, Rugby, Soccer\",\n    \"Vice Chairperson of Ouman Council - Helshoogte Mens Residence\",\n    \"Derby and AMC representative\"\n  ],\n  \"languages\": [\n    {\n      \"language\": \"English\",\n      \"proficiency\": \"Fluent\"\n    },\n    {\n      \"language\": \"Afrikaans\", \n      \"proficiency\": \"Fluent\"\n    }\n  ],\n  \"certifications\": [\n    \"Driving License code 8\"\n  ],\n  \"interests\": [\n    \"Entrepreneurship\", \"Electronics\", \"Cars\", \"Basketball\", \"Surfing\", \n    \"Formula 1\", \"Chess\", \"Gym\", \"Rugby\", \"Soccer\", \"AI\"\n  ],\n  \"references\": [\n    {\n      \"name\": \"Prof Japie Engelbrecht\",\n      \"title\": \"Masters Supervisor\", \n      \"company\": \"University of Stellenbosch\",\n      \"phone\": \"+27218084334\",\n      \"email\": \"jengelbr@sun.ac.za\",\n      \"relationship\": \"Academic Supervisor\"\n    },\n    {\n      \"name\": \"Dr Arno Barnard\",\n      \"title\": \"Undergraduate Supervisor\",\n      \"company\": \"University of Stellenbosch\", \n      \"phone\": \"+27218084006\",\n      \"email\": \"abarnard@sun.ac.za\",\n      \"relationship\": \"Academic Supervisor\"\n    }\n  ]\n}\n",
        "options": {
          "systemPromptTemplate": "You are an expert CV/Resume data extraction algorithm specialized in parsing professional documents.\n\nEXTRACTION GUIDELINES:\n- Extract all relevant professional information from the CV text provided\n- Pay special attention to dates, technical skills, educational qualifications, and work experience\n- Convert all date formats to consistent YYYY or YYYY-MM-DD format where possible\n- For arrays: populate each item as a separate element, don't combine multiple items into single strings\n- For technical skills: separate individual technologies, programming languages, and tools\n- For experience: extract specific achievements and responsibilities, not just job titles\n- For education: include institution names, degree types, grades/percentages, and completion status\n\nDATA ACCURACY RULES:\n- If information is not explicitly stated in the text, omit the attribute rather than guessing\n- Preserve original spellings of proper nouns (company names, institutions, locations)\n- Extract contact information exactly as presented\n- For ongoing education or employment, use \"Present\" or \"Ongoing\" for end dates\n- Convert informal descriptions to professional language where appropriate\n\nSPECIAL HANDLING:\n- Leadership roles: extract both formal titles and informal leadership experience\n- Projects: focus on technical details, technologies used, and measurable outcomes\n- Skills: differentiate between technical skills, programming languages, and soft skills\n- References: extract complete contact information including titles and relationships\n\nIf you cannot determine the value of any requested attribute from the provided text, simply omit that field from the output. Do not make assumptions or generate placeholder data.\n",
          "batching": {
            "batchSize": 5
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        160,
        512
      ],
      "id": "cc3ec5a2-b44c-420c-ad46-4ef057785f68",
      "name": "Information Extractor",
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.body }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"document_type\": \"blog_post\",\n  \"title\": \"Building an AI-Powered Customer Support System\",\n  \"author_insights\": [\n    \"Deep understanding of automation workflows\",\n    \"Strong problem-solving methodology\", \n    \"Focus on user experience and efficiency\"\n  ],\n  \"technical_competencies_demonstrated\": [\n    \"n8n workflow automation\",\n    \"API integrations\", \n    \"AI model implementation\",\n    \"Database design\",\n    \"Error handling and debugging\"\n  ],\n  \"problem_solving_approach\": [\n    \"Identifies root cause before implementing solutions\",\n    \"Considers scalability from the beginning\",\n    \"Tests extensively before deployment\",\n    \"Documents solutions for future reference\"\n  ],\n  \"communication_style\": {\n    \"clarity\": \"Explains complex concepts in simple terms\",\n    \"structure\": \"Uses logical flow and clear headings\",\n    \"audience_awareness\": \"Adapts technical depth to reader level\",\n    \"tone\": \"Professional yet approachable\"\n  },\n  \"work_values_and_philosophy\": [\n    \"Believes in continuous learning and improvement\",\n    \"Values collaboration and knowledge sharing\",\n    \"Prioritizes clean, maintainable code\",\n    \"Focuses on solving real-world problems\"\n  ],\n  \"projects_mentioned\": [\n    {\n      \"project_name\": \"Automated Email Response System\",\n      \"context\": \"Client project for e-commerce business\",\n      \"technologies_used\": [\"n8n\", \"OpenAI GPT-4\", \"Webhook APIs\"],\n      \"outcomes_achieved\": [\"40+ hours/week time savings\", \"100% email deliverability\"],\n      \"challenges_overcome\": [\"Email verification implementation\", \"Personalization at scale\"]\n    }\n  ],\n  \"code_quality_indicators\": [\n    \"Thoughtful variable naming conventions\",\n    \"Comprehensive inline comments\",\n    \"Error handling and edge case considerations\",\n    \"Modular and reusable code structure\"\n  ],\n  \"learning_and_growth_mindset\": [\n    \"Actively seeks out new technologies\",\n    \"Learns from failures and iterates quickly\", \n    \"Shares knowledge through documentation\",\n    \"Asks thoughtful questions about requirements\"\n  ],\n  \"collaboration_indicators\": [\n    \"Writes clear documentation for team members\",\n    \"Considers maintainability for future developers\",\n    \"Provides helpful code reviews and feedback\",\n    \"Explains technical decisions and trade-offs\"\n  ],\n  \"innovation_and_creativity\": [\n    \"Finds creative solutions to complex problems\",\n    \"Combines different technologies in novel ways\",\n    \"Automates repetitive tasks to improve efficiency\",\n    \"Thinks beyond immediate requirements\"\n  ],\n  \"domain_expertise_areas\": [\n    \"AI and machine learning implementation\",\n    \"Workflow automation and process optimization\", \n    \"Embedded systems and hardware integration\",\n    \"Customer support automation\"\n  ],\n  \"personal_motivations\": [\n    \"Passionate about using technology to solve real problems\",\n    \"Motivated by continuous learning and skill development\",\n    \"Enjoys mentoring and teaching others\",\n    \"Values making a meaningful impact through work\"\n  ],\n  \"writing_quality\": {\n    \"technical_accuracy\": \"High - demonstrates deep understanding\",\n    \"organization\": \"Well-structured with clear sections\",\n    \"examples\": \"Provides concrete, relevant examples\",\n    \"actionability\": \"Offers practical takeaways for readers\"\n  }\n}\n",
        "options": {
          "systemPromptTemplate": "You are an expert analyzer of professional supporting documents including blog posts, technical documentation, code snippets, README files, and personal notes.\n\nANALYSIS OBJECTIVES:\n- Assess technical competency and depth of understanding\n- Evaluate communication skills and writing quality\n- Identify work values, philosophy, and professional approach\n- Extract evidence of problem-solving methodology\n- Determine collaboration style and team interaction patterns\n- Analyze learning mindset and growth orientation\n\nEXTRACTION FOCUS AREAS:\n\nTECHNICAL COMPETENCY:\n- Technologies and tools demonstrated through actual usage\n- Depth of technical understanding shown in explanations\n- Quality indicators in code (comments, structure, error handling)\n- Real-world application of technical knowledge\n\nCOMMUNICATION & DOCUMENTATION:\n- Clarity of technical explanations\n- Audience awareness and adaptation\n- Structure and organization of content\n- Use of examples and practical illustrations\n\nWORK STYLE & VALUES:\n- Approach to problem-solving and debugging\n- Attitude toward code quality and maintainability\n- Collaboration and knowledge-sharing behaviors\n- Personal motivations and career drivers\n\nPROJECT INSIGHTS:\n- Specific projects mentioned with context\n- Technologies used and challenges overcome\n- Measurable outcomes and impact achieved\n- Learning experiences and skill development\n\nPERSONAL ATTRIBUTES:\n- Innovation and creative thinking patterns\n- Learning mindset and adaptability\n- Leadership and mentoring capabilities\n- Professional growth trajectory\n\nANALYSIS GUIDELINES:\n- Focus on what the content reveals about the person's capabilities and character\n- Look for patterns across multiple documents that indicate consistent traits\n- Distinguish between claimed abilities and demonstrated competencies\n- Extract specific examples that support broader conclusions\n- Identify unique strengths and differentiating factors\n\nOnly extract insights that are clearly supported by evidence in the document content. If a trait or skill is not demonstrated, omit that field rather than making assumptions.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        144,
        816
      ],
      "id": "fd658a4d-ba82-4912-b494-298725503976",
      "name": "Information Extractor1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        896
      ],
      "id": "9f22a897-52ad-43a2-8212-998c1279f55d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PmlPgSChOQtH3gbc",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        208
      ],
      "id": "d8e5d379-424c-4411-a0b6-326b45efc560",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PmlPgSChOQtH3gbc",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Access Dean Jeggels' professional profile data including work experience, technical skills, projects, education, and personal information. Use this to answer questions about Dean's background, capabilities, and achievements.",
        "operation": "getAll",
        "tableId": "dean_profile",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        112,
        192
      ],
      "id": "3235714c-cbfc-428f-b6f7-04b40588c798",
      "name": "dean_profile_db",
      "credentials": {
        "supabaseApi": {
          "id": "NUg5hLHAIt8Wg8bD",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1536,
        896
      ],
      "id": "f062c0c4-1312-4d6f-8e3e-13782440acd2",
      "name": "Webhook Trigger",
      "webhookId": "8ab22f17-fd5c-4985-aa45-9be54ac9d733"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and validate input parameters\nconst question = $input.item.json.body.question || '';\nconst mode = $input.item.json.body.mode || 'default';\nconst sessionId = $input.item.json.body.session_id || 'default';\nconst timestamp = $input.item.json.body.timestamp || new Date().toISOString();\n\n// Mode-specific system message adjustments\nconst modeConfigurations = {\n  'interview': {\n    suffix: 'Keep responses concise, professional, and informative. Focus on achievements and measurable outcomes.',\n    style: 'professional'\n  },\n  'storytelling': {\n    suffix: 'Provide longer, more reflective narratives with context and personal insights. Share the story behind the facts.',\n    style: 'narrative'\n  },\n  'facts': {\n    suffix: 'Respond in bullet points or TL;DR format. Be concise and factual.',\n    style: 'concise'\n  },\n  'humble_brag': {\n    suffix: 'Answer with confidence and highlight achievements prominently, while staying grounded in truth.',\n    style: 'confident'\n  },\n  'reflection': {\n    suffix: 'Focus on self-awareness, growth areas, work preferences, and personal insights about collaboration and energy.',\n    style: 'reflective'\n  },\n  'default': {\n    suffix: 'Maintain Dean\\'s authentic, conversational tone with technical depth when appropriate.',\n    style: 'authentic'\n  }\n};\n\nconst config = modeConfigurations[mode] || modeConfigurations['default'];\n\nreturn {\n  question,\n  mode,\n  sessionId,\n  timestamp,\n  modeConfig: config,\n  processedAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        896
      ],
      "id": "eaff6fae-eca9-4e11-8796-7ab3a9cebc4a",
      "name": "Process Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=You are Dean Jeggels' Personal AI Assistant. Answer questions about Dean in first person using data from the Supabase database.\n\nCORE IDENTITY:\n- 23-year-old AI Robotics Engineer from Stellenbosch, South Africa\n- Founder of CH-ISE.co.za, Freelance AI Workflow Developer\n- Passionate about solving real-world problems through AI automation\n- Values continuous learning, innovation, collaboration, and measurable impact\n\nCONVERSATION CONTEXT:\nMode: {{ $json.mode }}\nStyle: {{ $json.modeConfig.style }}\nSpecific Instructions: {{ $json.modeConfig.suffix }}\n\nRESPONSE GUIDELINES:\n- Always speak as Dean (\"I am...\", \"My experience...\", \"I specialize in...\")\n- Query the Supabase database for current, accurate information\n- Use specific examples, projects, and measurable outcomes from the data\n- Reference concrete technologies, client work, and achievements\n- Maintain Dean's authentic personality: confident yet approachable, technically deep, results-oriented\n- Adapt tone and length based on the conversation mode\n\nALWAYS use the Supabase tool to retrieve Dean's current profile data before responding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2016,
        896
      ],
      "id": "f4aa00d2-ddd2-4374-9d89-95e108e607f2",
      "name": "Enhanced AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2016,
        1120
      ],
      "id": "e1336faa-b719-4d8c-949a-0e991d904f6f",
      "name": "OpenAI GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "PmlPgSChOQtH3gbc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Access Dean Jeggels' complete professional profile including CV data, work experience, technical skills, projects, education, work insights, problem-solving approach, and personal values. Use this comprehensive database to provide authentic, detailed answers about Dean's background and capabilities.",
        "operation": "getAll",
        "tableId": "dean_profile"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2176,
        1088
      ],
      "id": "35e85783-b909-4c9d-8639-476d47e9e7bc",
      "name": "Dean Profile Database",
      "credentials": {
        "supabaseApi": {
          "id": "NUg5hLHAIt8Wg8bD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format response with metadata and mode information\nconst aiResponse = $input.item.json.message?.content || $input.item.json.output || 'I apologize, but I encountered an issue processing your question.';\nconst originalInput = $('Process Input').first().json;\n\n// Extract key topics mentioned in response for analytics\nconst keyTopics = [];\nif (aiResponse.toLowerCase().includes('project')) keyTopics.push('projects');\nif (aiResponse.toLowerCase().includes('skill')) keyTopics.push('technical_skills');\nif (aiResponse.toLowerCase().includes('experience')) keyTopics.push('work_experience');\nif (aiResponse.toLowerCase().includes('automation')) keyTopics.push('automation');\nif (aiResponse.toLowerCase().includes('n8n')) keyTopics.push('n8n');\n\nreturn {\n  status: 'success',\n  response: aiResponse,\n  metadata: {\n    mode_used: originalInput.mode,\n    style: originalInput.modeConfig.style,\n    session_id: originalInput.sessionId,\n    response_timestamp: new Date().toISOString(),\n    topics_covered: keyTopics,\n    response_length: aiResponse.length,\n    responder: 'Dean Jeggels Personal AI Assistant'\n  },\n  follow_up_suggestions: [\n    'Tell me more about your technical approach',\n    'What challenges did you face in that project?',\n    'How do you stay updated with new technologies?',\n    'What advice would you give to someone starting in AI automation?'\n  ]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        896
      ],
      "id": "3bab64f1-cf96-4745-be88-c0825ec215d1",
      "name": "Format Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2496,
        896
      ],
      "id": "dcbe025b-09d4-47d5-af1c-315a70e8ef93",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDFco Api1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "dean_profile_db": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Enhanced AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Enhanced AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dean Profile Database": {
      "ai_tool": [
        [
          {
            "node": "Enhanced AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "398a4bf6-e2c8-4263-9e51-996e1c18f866",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "350d7b83761a47d8c35fa4a1ca5c934378258826c45313721dfd9111c8cbf85b"
  },
  "id": "N37XeAt7Cdl5Ei5p",
  "tags": []
}